/* ---------------------------------
 *            Buttons
 * --------------------------------- */
.button
    &.is-transparent
        color: inherit
        background: transparent
        border-color: transparent
        // text-shadow: 0 0 80px var(--text-shine)
