/* ---------------------------------
 *            Page Footer
 * --------------------------------- */
footer.footer
    background-color: var(--ninght-card-color)

footer.footer
    .level-start
        +mobile()
            text-align: center

    .level-end
        .field
            flex-wrap: wrap
            align-items: center

            +mobile()
                justify-content: center
                margin-top: 1rem
    
    .level-start p
        color: #fff
    .level-end a
        color: #fff

.footer-logo
    img
        max-height: $logo-height
